{% extends 'base.html' %}
{% block style %}
		<style>
			.modal-header,h6,.close{
				background-color: #ca1632;
				color: white !important;
				text-align:center;
				font-size: 30px;
			}
			.modal-footer{
				background-color: #f9f9f9;
				}
			.footer-copyright{
				color:white;
				position:absolute;
				bottom:0;
				width: 100%;
				background-color: #979797;
			}
		</style>
{% endblock %}
{% block kindergartenList %}
<table class="table table-bordered">
  <thead>
    <tr>
      <th>School Name</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    {% for k in kindergarten %}
      <tr >
          <td><a href="{% url 'school-detail' k.pk %}">{{ k.name }}</a></td>
        <td>{{ k.email }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% if kindergarten.has_other_pages %}
  <ul class="pagination">
    {% if kindergarten.has_previous %}
      <li><a href="?page={{ kindergarten.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in kindergarten.paginator.page_range %}
      {% if kindergarten.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if kindergarten.has_next %}
      <li><a href="?page={{ kindergarten.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
{% endblock %}
