{% extends 'base.html' %}
{% block style %}
    <style>
        .modal-header, h6, .close {
            background-color: #ca1632;
            color: white !important;
            text-align: center;
            font-size: 30px;
        }

        .modal-footer {
            background-color: #f9f9f9;
        }

        .footer-copyright {
            color: white;
            position: absolute;
            bottom: 0;
            width: 100%;
            background-color: #979797;
        }
    </style>
{% endblock %}
{% block kindergartenDetail %}
    <ul class="list-group">
        <li class="list-group-item">{{ school.name }}</li>
        <li class="list-group-item">{{ school.postalcode }}</li>
        <li class="list-group-item">{{ school.isoperation }}</li>
        <li class="list-group-item">{{ school.address }}</li>
        <li class="list-group-item">{{ school.email }}</li>
        <li class="list-group-item">{{ school.website }}</li>
        <li class="list-group-item">{{ school.number }}</li>
    <!--
    more to be added
    -->
    </ul>
{% endblock %}

