{% extends 'base.html' %}
{% block style %}
		<style>
			.modal-header,h6,.close{
				background-color: #ca1632;
				color: white !important;
				text-align:center;
				font-size: 30px;
			}
			.main-row{
				margin: auto;
				padding: 1rem 0;
			}
			.sch-row{
				margin: auto;	
				padding: 1rem 0 0 0;
			}
			.header{
				background: linear-gradient(to bottom right, rgba(0,47,75,0.6), rgba(220,66,37,0.6)), url("2.jpg");
				background-position: center;
				background-size: cover;
				background-repeat: no-repeat;
				padding: 20vh 0 5vh 0;
			}
			h1{
				font-weight: normal;
				color: white;
			}
			.search-container{
				background-color: #F8F8F8;
				border-radius: 0.25rem;
			}
			.my-box{
				width: 50px; 
				border-radius: 0.25rem;
			}
			.card-body{
				padding: 0.5rem 1.25rem;
			}
			.card-text{
				margin: 0;
			}
			.sch-card{
				width: 80vw;
				min-width: 300px;
				max-width: 800px;
				margin: auto;
			}
			.sch-card-name{
				background-color: #F8F8F8;
			}
			.sch-card-btns{
				margin: auto;
				margin-right: 0;
			}
			.btn-mybtn{
				background-color: transparent!important;
				padding: 0;
				margin-right: 1.25rem;
			}

			html {
				  height: 100%;
				  box-sizing: border-box;
			}
			*,
			*:before,
			*:after {
			  box-sizing: inherit;
			}
			body {
			  position: relative;
			  margin: 0;
			  padding-bottom: 6rem;
			  min-height: 100%;
			}
			.footer-copyright{
				color:white;
				width: 100%;
				background-color: #979797;
				position: absolute;
				right: 0;
				bottom: 0;
				left: 0;
			}
		</style>
{% endblock %}

{% block body %}
		<div class="container-fluid">
            <!-- Body -->
			<!-- Header -->
			<div class="row header">
				<div class="container">
				<!-- search panel inside header -->
				<h1>Search by details</h1>
				<div class="container search-container">
					<form method="post" action="{% url 'detail' %}">
						<table class="table my-0 table-sm" id="search-input" style="widows: 100%;">
							<tr>
								<th>Type</th>
								<td>
									<div class="form-check form-check-inline">
										<input class="form-check-input" type="checkbox" name="commercial" value="commercial" id="type-commercial">
										<label class="form-check-label" for="type-commercial">Commercial</label>
									</div>
									<div class="form-check form-check-inline">
										<input class="form-check-input" type="checkbox" name="moe" value="MOE" id="type-MOE">
										<label class="form-check-label" for="type-MOE">MOE</label>
									</div>
									<div class="form-check form-check-inline">
										<input class="form-check-input" type="checkbox" name="aop" value="AOP" id="type-AOP">
										<label class="form-check-label" for="type-AOP">AOP</label>
									</div>
									<div class="form-check form-check-inline">
										<input class="form-check-input" type="checkbox" name="pop" value="POP" id="type-POP">
										<label class="form-check-label" for="type-POP">POP</label>
									</div>
									<div class="form-check form-check-inline">
										<input class="form-check-input" type="checkbox" name="nfp" value="NOP" id="type-NOP">
										<label class="form-check-label" for="type-NOP">Not for profit</label>
									</div>
								</td>
							</tr>
							<tr>
								<th>Programmes</th>
								<td>
									<div class="form-check form-check-inline">
										<input class="form-check-input" type="radio" name="programme" value="k1" id="programme-k1">
										<label class="form-check-label" for="commercial">K1</label>
									</div>
									<div class="form-check form-check-inline">
										<input class="form-check-input" type="radio" name="programme" value="k2" id="programme-k2">
										<label class="form-check-label" for="programme-k2">K2</label>
									</div>
{#									<div class="form-check form-check-inline">#}
{#										<input class="form-check-input" type="radio" name="programme" value="nursey" id="programme-nursey">#}
{#										<label class="form-check-label" for="programme-nursey">Nursey</label>#}
{#									</div>#}
{#									<div class="form-check form-check-inline">#}
{#										<input class="form-check-input" type="radio" name="programme" value="playground" id="programme-playground">#}
{#										<label class="form-check-label" for="programme-playground">Playground</label>#}
{#									</div>#}
								</td>
							</tr>
							<tr>
								<th>Languages</th>
								<td>
									<div class="form-check form-check-inline">
										<input class="form-check-input" type="checkbox" name="language1" value="chinese" id="language-chinese">
										<label class="form-check-label" for="language-chinese">Chinese</label>
									</div>
									<div class="form-check form-check-inline">
										<input class="form-check-input" type="checkbox" name="language2" value="tamil" id="language-malay">
										<label class="form-check-label" for="language-malay">Tamil</label>
									</div>
									<div class="form-check form-check-inline">
										<input class="form-check-input" type="checkbox" name="language3" value="hindi" id="language-tamil">
										<label class="form-check-label" for="language-tamil">Hindi</label>
									</div>
									<div class="form-check form-check-inline">
										<input class="form-check-input" type="checkbox" name="language4" value="malay" id="language-other">
										<label class="form-check-label" for="language-other">Malay</label>
									</div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" name="language5" value="arabic" id="language-other">
                                        <label class="form-check-label" for="language-other">Arabic</label>
                                    </div>
								</td>
							</tr>
							<tr>
								<th>Distance (km)</th>
								<td>
									<div class="form-group d-inline">
										<span>Range:</span>
										<input class="my-box" type="number" placeholder="0" name="min-dis" value="0" id="min-dis">
										<span>-</span>
										<input class="my-box" type="number" placeholder="100" name="max-dis" value="9999" id="max-dis">
									</div>
									<div class="form-group d-inline mx-4">
										<span>Your psotal code:</span>
										<input class="my-box" type="number" name="zip" value="000000" placeholder="000000" id="zip" style="width: 80px">
									</div>
								</td>
							</tr>
							<tr>
								<th>Fees (SGD)</th>
								<td>
									<div class="form-group d-inline">
										<span>Range:</span>
										<input class="my-box" type="number" name="min-fee" value="0" placeholder="0" id="min-fee">
										<span>-</span>
										<input class="my-box" type="number" name="max-fee" value="2500" placeholder="2500" id="max-fee">
									</div>
								</td>
							</tr>
							<tr>
								<th>Others</th>
								<td>
									<div class="form-check form-check-inline">
										<input class="form-check-input" type="checkbox" name="spark" value=null id="other-SPARK">
										<label class="form-check-label" for="other-SPARK">SPARK certified</label>
									</div>
									<div class="form-check form-check-inline">
										<input class="form-check-input" type="checkbox" name="bus" value="True" id="other-bus">
										<label class="form-check-label" for="other-bus">Bus services</label>
									</div>
									<div class="form-check form-check-inline">
										<input class="form-check-input" type="checkbox" name="outdoor" value="True" id="other-outdoor">
										<label class="form-check-label" for="other-outdoor">Provision of outdoor playground</label>
									</div>
								</td>
							</tr>
						</table>
						<div class="text-center"><button type="submit" class="btn btn-danger my-3"><i class="fa fa-filter">&nbsp;</i> Apply filter</button></div>
                        {% csrf_token %}
					</form>
				</div>
				</div>
				
			</div>

			<!-- Search result list -->
			<!-- initially show all the schools, until apply filter -->
			<div class="row main-row">
				<div class="container sch-container">
					<p class="text-center">Click on school names for more information.</p>
                    {% for k in kindergarten %}
					<div class="row sch-row">
						<div class="sch-card">
							<table class="table table-bordered table-sm">
								<thead>
									<tr class="sch-card-name">
										<th scope="row" colspan="2">
											<div class="container">
												<div class="row">
													<a href="{% url 'kindergarten-detail' k.pk %}">{{ k.name }}</a>
													<div class="sch-card-btns">
{#														<button type="button" class="btn btn-mybtn" onClick="fav-toggle()"><i class="fa fa-heart" style="color: #CA1632;"></i></button>#}
                                                        <a href="{% url 'toggle-fav' k.pk %}" class="btn btn-mybtn"><i class="fa fa-heart" style="color: #ca1632"></i></a>
														<button type="button" class="btn btn-mybtn" onClick="add-comp()"><i class="fa fa-plus" style="color: #007BFF"></i></button>
														<button type="button" class="btn btn-light" onClick="comp-add()" style="display: none"><i class="fa fa-check" style="color: #007BFF"></i></button>
													</div>	
												</div>
											</div>
										</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<th>Email</th>
										<td>{{ k.email }}</td>
									</tr>
									<tr>
										<th>Contact Number</th>
										<td>{{ k.number }}</td>
									</tr>
									<tr>
										<th>Address</th>
										<td colspan="3">{{ k.address }}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
                    {% endfor %}
{#					<div class="row sch-row">#}
{#						<div class="sch-card">#}
{#							<table class="table table-bordered table-sm">#}
{#								<thead>#}
{#									<tr class="sch-card-name">#}
{#										<th scope="row" colspan="2">#}
{#											<div class="container">#}
{#												<div class="row">#}
{#													<a href="school_detail.html">School Name</a>#}
{#													<div class="sch-card-btns">#}
{#														<button type="button" class="btn btn-mybtn" onClick="fav-toggle()"><i class="fa fa-heart" style="color: #CA1632;"></i></button>#}
{#														<button tyep="button" class="btn btn-mybtn" onClick="add-comp()"><i class="fa fa-plus" style="color: #007BFF"></i></button>#}
{#														<button type="button" class="btn btn-light" onClick="comp-add()" style="display: none"><i class="fa fa-check" style="color: #007BFF"></i></button>#}
{#													</div>	#}
{#												</div>#}
{#											</div>#}
{#										</th>#}
{#									</tr>#}
{#								</thead>#}
{#								<tbody>#}
{#									<tr>#}
{#										<th>Email</th>#}
{#										<td>schoolemail@example.com</td>#}
{#									</tr>#}
{#									<tr>#}
{#										<th>Contact Number</th>#}
{#										<td>12345678</td>#}
{#									</tr>#}
{#									<tr>#}
{#										<th>Address</th>#}
{#										<td colspan="3">This is an address line</td>#}
{#									</tr>#}
{#								</tbody>#}
{#							</table>#}
{#						</div>#}
{#					</div>#}
				</div>
				
			</div>
		</div>
{% endblock %}

