{% extends 'base.html' %}
{% block style %}
		<style>
			.modal-header,h6,.close{
				background-color: #ca1632;
				color: white !important;
				text-align:center;
				font-size: 30px;
			}
			.modal-footer{
				background-color: #f9f9f9;
				}
			.row{
				margin: 2vw;
			}
			.header{
				padding:5vh 0 0 0;
				text-align: center;	
			}
			h1{
				font-weight: normal;
				color: #CA1632;
				margin: auto;
			}
			.card{
				width: inherit;
				min-width: 300px;
				height: 100%;
				margin: auto;
				box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
			}
			html {
				  height: 100%;
				  box-sizing: border-box;
			}
			*,
			*:before,
			*:after {
			  box-sizing: inherit;
			}
			body {
			  position: relative;
			  margin: 0;
			  padding-bottom: 6rem;
			  min-height: 100%;
			}
			.footer-copyright{
				color:white;
				width: 100%;
				background-color: #979797;
				position: absolute;
				right: 0;
				bottom: 0;
				left: 0;
			}
		</style>
{% endblock %}

{% block body %}

		<!-- Body -->
		<div class="container-fluid">
			<div class="row">
				<h1 class="header">Search by details</h1>
			</div>
			<div class="row">
				<div class="col">
					<div class="card border-light">
						<div class="row" style="margin: auto">
							<form method="post" action="{% url 'detail' %}">
								<div class="row">
									<div class="card-body">
										<p class="card-text" id="question">Citizenship</p>
										<select class="custom-select" id="citizenship" name="citizenship">
											<option selected>Choose...</option>
											<option value="singaporean">Singaporean</option>
											<option value="non-singaporean">Non-Singaporean</option>
										</select>
									</div>
									<div class="card-body">
										<p class="card-text">Age</p>
										<div class="input-group">
											<select class="custom-select" id="age" name="age">
												<option selected>Choose...</option>
												<option value="1">&le;1</option>
												<option value="2">2</option>
												<option value="3">3</option>
												<option value="4">4</option>
												<option value="5">5</option>
												<option value="6">6</option>
												<option value="7">7</option>
											</select>
										</div>

									</div>
									<div class="card-body">
										<p class="card-text">Your address (zip code)</p>
										<input type="text" name="adr" value="000000" class="form-control">
									</div>
									<div class="card-body" id="dist">
										<p class="card-text">Distance</p>
										<div class="input-group">
											<select class="custom-select" id="distance" name="distance">
												<option selected>Choose...</option>
												<option value="2">&le;2</option>
												<option value="5">2-5</option>
												<option value="10">5-10</option>
												<option value="15">10-15</option>
												<option value="20">15-20</option>
												<option value="20+">&ge;20</option>
											</select>
											<div class="input-group-append">
												<label class="input-group-text" for="distance">km</label>
											</div>
										</div>
									</div>
									<div class="card-body">
										<p class="card-text">Fee</p>
										<div class="input-group">
											<select class="custom-select" id="fee" name="fee">
												<option selected>Choose...</option>
												<option value="150">&lt;150</option>
												<option value="200">150-200</option>
												<option value="300">200-300</option>
												<option value="400">300-400</option>
												<option value="500">400-500</option>
												<option value="600">500-600</option>
												<option value="600+">&ge;600</option>
											</select>
											<div class="input-group-append">
												<label class="input-group-text" for="fee">SGD/Year</label>
											</div>
										</div>
									</div>
									<div class="card-body">
										<p class="card-text">Secondary language</p>
										<div class="input-group">
											<select class="custom-select" id="language" name="language">
												<option selected>Choose...</option>
												<option value="cn">Chinese</option>
												<option value="my">Malay</option>
												<option value="tm">Tamil</option>
												<option value="none">None</option>
											</select>
										</div>
									</div>
									<div class="card-body">
										<p class="card-text">SPARK certificated</p>
										<div class="input-group">
											<select class="custom-select" id="SPARK" name="SPARK">
												<option selected>Choose...</option>
												<option value="yes">Yes</option>
												<option value="no">No</option>
											</select>
										</div>
									</div>
								</div>
								<div class="row"><div class="col" align="center"><button type="submit" class="btn btn-outline-danger my-4">Search</button></div></div>
							    {% csrf_token %}
                            </form>
						</div>
					</div>
				</div> 
			</div>
		</div>
{% endblock %}